
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

/* Color Variables */
:root {
    --primary-color: #024c9a;
    --text-color: #2f2f2f;
    --secondary-color: #13a134;
    --background-color: #c2c2c2;
    --tertiary-color: #864b11;
    --alt-color: #17a2b8;
    font-family:Cabin;
}

  
  header {
    background: var(--primary-color);
    color: var(--background-color);
    padding: 1em;
    display: flex;
    justify-content: center;
    font-family: Cabin;
    border: var(--text-color) solid 1px;
    border-radius: 5px;
  }
footer {
    background: var(--primary-color);
    color: var(--background-color);
    padding: 1em;
    display: flex;
    justify-content: center;
    font-family: Cabin;
    border: var(--text-color) solid 1px;
    border-radius: 5px;
  }
footer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: var(--text-color) solid 0.25rem;
    transition: filter 1s;
}
.mainFlex {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: start;
    background-color: var(--secondary-color);
    margin: 1em;
    border-radius: 5px;
    border: var(--text-color) solid 0.5rem;
    
  }
article {
    margin-left: 0em;
    padding: 1em;
    border: var(--secondary-color) solid 1px;
    border-radius: 5px;
    background: var(--alt-color);
    color: var(--text-color);
    width: 40%;
  }
article img {
    animation-name: slideInFromLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;


width: 100%;
height: auto;
border: var(--text-color) solid 0.25rem;
border-radius: 5px;
transition: filter 1s;
}
aside {
    margin: 1em;
    padding: 1em;
    border: var(--secondary-color) solid 1px;
    border-radius: 5px;
    color: var(--text-color);
    flex: 1 1 0;
}
aside h1 {
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 2s;
    font-weight: 600;
    font-size: 2rem;
    animation-fill-mode: forwards;
}
aside h2 {
    opacity: 0;
    animation: fadeIn 2s;
    animation-delay: 2.5s;
    font-weight: 600;
    font-size: 2rem;
    animation-fill-mode: forwards;
}
aside p {
    opacity: 0;
    font-weight: 200;
    font-size: 1rem;
    animation: fadeIn 2s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
body {
    font-family: Cabin, sans-serif;
    
    background-image: url('../images/papyrus.webp');
    
}
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Media Queries */
