/* Color Variables */
:root {
    --primary-color: #024c9a;
    --text-color: #2f2f2f;
    --secondary-color: #097121;
    --background-color: #c2c2c2;
    --tertiary-color: #5ba64c;
    --alt-color: #17a2b8;
  }